header {
    background-color: #235d92;
    text-align: center;
}

header nav {
    margin: 0px 5px 0px 5px;
    background-color: #efefef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #efefef;
}

header nav ul {
    background-color: #efefef;
    color: #757575;
    text-align: right;
}

header nav ul li {
    display: inline-block;
    vertical-align: bottom;
    margin: 25px 50px 20px 0px;
}

header nav ul li:hover {
    cursor: pointer;
}

body {
    background-color: #235d92;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}

section.barleft {
    padding-bottom: 10px;
}

section.barleft article {
    background-color: #235d92;
    margin: 0px 10px 15px 20px;
    color: #fefbfe;
}

section.barleft article ul {
    background-color: #1d4972;
    list-style: none;
    margin-top: 0px;
}

section.barleft article ul li {
    text-indent: 0em;
    margin: 2px 0px 2px -25px;
    padding: 5px 0px;
}

section.barleft article ul li:before {
    content: "</> ";
}

.badge {
    position: absolute;
    margin: -25px 0px 0px -3px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #3982bd;
    color: #ffffff;
}

.frame {
    background-color: #efefef;
    margin: 0px 5px 0px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
}

.logoseccion {
    width: 35px;
    vertical-align: middle;
    margin-left: 8px;
}

.barleft {
    width: 25%;
}

.content {
    width: 74%;
    background-color: #ffffff;
    padding: 30px 0px 20px 0px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.content h3 {
    color: gray;
    margin: 0px 30px 5px 30px;
    font-weight: normal;
}

.content article {
    text-align: center;
}

.cubos {
    display: flex;
    margin: 0px 20px 0px 20px;
}

.usuario {
    display: inline;
    width: 25%;
    text-align: center;
    margin: 10px 5px 10px 5px;
    padding: 0px 0px 10px 0px;
    background-color: #496aae;
    color: #ffffff;
}

.usuario img {
    width: 70%;
}

.usuario p {
    margin: 10px 0px 15px 0px;
    font-size: 1.5em;
}

.usuario button {
    font-size: 0.8em;
    padding: 10px 20px 8px 20px;
    color: #ffffff;
    border: 1px solid #56c3dc;
    background: #56c3dc;
    border-radius: 5px;
}

.usuario button:hover {
    cursor: pointer;
}

.usuario button img {
    width: 20px;
    margin-top: -5px;
    vertical-align: middle;
}

.cubo {
    display: inline;
    width: 25%;
    text-align: center;
    margin: 10px 5px 10px 5px;
    padding: 20px 0px 40px 0px;
    background-color: #1d4972;
    color: #ffffff;
    border-radius: 5px;
}

.cubo p {
    margin: 0px 1em 0px 1em;
}

.cubo img {
    padding-top: 20px;
    width: 40%;
}

#cuboverde {
    background-color: #1aa721;
}

#cuboazul {
    background-color: #196da9;
}

#cubomorado {
    background-color: #7f19aa;
}

#cuborojo {
    background-color: #a81b15;
}

#barleftwhitebg {
    background-color: #ffffff;
    color: #757575;
    padding-top: 10px;
    margin: 0px;
}

#barleftwhitebg span {
    padding: 10px 0px 0px 15px;
}

#barleftwhitebg img {
    width: 95%;
    margin-left: 10px;
}

#panels {
    width: 95%;
}